.text-color{
    color: #681C20;
    justify-content: center;
}
.text-color .text-center img{
    margin: 20px auto;
    width: 150px;
}
.reset-password{
    margin: 30px 0;
    padding: 55px;
    box-shadow: 0px 6px 16px #00000026;
    border-radius: 6px;
}
.reset-password h1{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.reset-password p{
    color: black;
    font-size: 14px;
    font-weight: 400;
}
.reset-password .enter-email{
    margin-top: 50px;
}
.reset-password .enter-email label{
    color: black;
}
.reset-password a .btn-recover{
    color: white;
    background-color: #681C20;
    padding: 11px 100px;
    font-size: 14px;
    font-weight: 400;
}
.reset-password .procced{
    text-align: center;
    margin: 35px 0;
}
.reset-password .login-page{
    font-size: 16px;
    font-weight: 700;
    color: black;
    justify-content: center;
    display: flex;
}