 /* Toggle Styles */
 
 .nav-pills>li>a {
  border-radius: 0;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
  overflow: hidden;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: hidden;
  background: #4C0011;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}

.xyz {
  min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}

.fixed-brand {
  width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
  text-indent: 15px;
  line-height: 50px;
}

.sidebar-nav li a {
  display: flex;
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.tooltip .tooltiptext {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.no-margin {
  margin: 0;
}

@media(min-width:768px) {
  #wrapper {
     padding-left: 250px;
  }
  .fixed-brand {
     width: 250px;
  }
  #wrapper.toggled {
     padding-left: 0;
  }
  #sidebar-wrapper {
     width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
     width: 250px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
     width: 50px;
  }
  /* #wrapper.toggled-2 #sidebar-wrapper:hover {
     width: 250px;
  } */
  #page-content-wrapper {
     padding: 20px;
     position: relative;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
  }
  #wrapper.toggled #page-content-wrapper {
     position: relative;
     margin-right: 0;
     padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
     position: relative;
     margin-right: 0;
     margin-left: -200px;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
     width: auto;
  }
}
.collapse:not(.show) {
  display: inherit;
}
.navbar-toggle{
  font-size: 20px;
  color: white;
  padding: 30px 20px;
}
.sidebar-nav .logo-img-sidebar{
  width: 100px;
  margin: 10px 0 35px 25px;
}
#sidebar-wrapper-1{
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 200px;
  height: 100%;
  overflow-y: hidden;
  background: #4C0011;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.dashboard{
  position: relative;
}
.hover-content{
  display: none;
}
.dashboard:hover a{
  color: #fff!important;
}
.dashboard:hover .hover-content{
  display: block;
  position: absolute;
  left: 50px;
  top: 4px;
  font-size: 18px;
  background: white;
  color: #4C0011;
  font-weight: 700;
  height: 39px;
  width: 200px;

}
.show-dashboard-1{
  display: none;
  margin-left: -200px;
}
.hide-dashboard-1{
  display: block;
  margin-left: -200px;
}
.user-site-show{
  display: none;
  margin-left: -200px;
}
.user-site-hide{
  display: block;
  margin-left: -200px;
}

#sidebar-wrapper-1 ul li{
  list-style: none;
}
.sidebar-nav-1{
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 80px 10px;
}
.sidebar-nav-1 li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav-1 li a {
  display: block;
  text-decoration: none;
  color: #999999;
  font-size: 14px;
}

.sidebar-nav-1 li a:hover {
  text-decoration: none;
  color: #fff;
}

.sidebar-nav-1 li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
.dashboard-hide{
    font-size: 18px!important;
    color: #fff!important;
}
.site-hide{
    font-size: 18px!important;
    color: #fff!important;
}
.back-arrow-set{
      margin: 0 10px 0 -35px;
}

/* ...user- student */
.nav-bar-set{
  box-shadow: 1px 5px 8px #00000038;
}
.navbar-brand{
  font-size: 20px;
  font-weight: 700;
}
.nav-button .btn-export{
    color: #4C0011;
    border-color: #4C0011;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 30px;
    margin: 15px 5px;
}
.nav-button .btn-addstudent{
    color: white;
    background-color: #4C0011;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 30px;
    margin: 15px 5px;
}
/* content */

.add-filters{
    box-shadow: 2px 3px 6px #00000036;
    border: 1px solid #d3d3d378;
    margin: 25px 0;
    border-radius: 5px;
}
.add-filters .btn-filters{
    color: #4C0011;
    padding: 14px 45px;
}
.add-filters .btn-search{
    border-color: #d3d3d378;
    border-radius: 0;
    border: none;
    padding: 0px 20px 0 20px;
    color: #50505080;
    font-size: 20px;
    border-left: 1px solid #d3d3d378;
}
.add-filters .form-control:focus{
    border-color: #fff;
    box-shadow: none;
}
.add-filters input{
    width: 75%;
    border: none;
}

/* student table */
.student-table{
    box-shadow: 2px 3px 6px #00000036;
    border: 1px solid #d3d3d378;
    margin: 25px 0;
    border-radius: 5px;
    height: 502px;
}
.student-table table{
    margin: 35px;

}
.student-table table thead th{
    padding-left: 3px;
    color: #4C0011;
}
.student-table table tbody td{
    padding-left: 3px;
}
.student-table table input{
    border-color: #0000007a;
    border-radius: 0px!important;
}
.student-table table .form-check-input:checked {
    background-color: #4C0011;
    border-color: #4C0011;
}
.student-table table .form-check-input:focus {
    border-color: #0000007a!important;
    box-shadow: none;
}
/* students leads */
.student-lead{
    box-shadow: 2px 3px 6px #00000036;
    border: 1px solid #d3d3d378;
    margin: 25px 0;
    border-radius: 5px;
    height: 400px;
}
.student-lead .leads{
    text-align: center;
    margin: auto;
}
.student-lead .leads label{
    color: #7a7a7a;
    font-size: 19px;
}
.student-lead .leads .btn-leads{
    background-color:  #4C0011;
    color: #fff;
    padding: 5px 30px;
    margin: 15px 0;

}
/* students owner */
.student-owners-table{
  box-shadow: 2px 3px 6px #00000036;
  border: 1px solid #d3d3d378;
  margin: 25px 0;
  border-radius: 5px;
  height: 502px;
}
.student-owners-table table{
  margin: 35px;

}
.student-owners-table table thead th{
  padding-left: 3px;
  color: #4C0011;
}
.student-owners-table table tbody td{
  padding-left: 3px;
}
.student-owners-table table input{
  border-color: #0000007a;
  border-radius: 0px!important;
}
.student-owners-table table .form-check-input:checked {
  background-color: #4C0011;
  border-color: #4C0011;
}
.student-owners-table table .form-check-input:focus {
  border-color: #0000007a!important;
  box-shadow: none;
}
/* costume */
.student-costume{
  padding: 19px 27px;
}
/* site page in site */
.site-page{
  padding: 0 0 0 70px;
}
.add-sitepage{
  box-shadow: 2px 3px 6px #00000036;
  border: 1px solid #d3d3d378;
  margin: 25px 0;
  border-radius: 5px;
  width: 75%;
  display: flex;
  height: 55px;
}
.btn-sitepage-style-grid{
  padding: 16px 30px;
  background-color: #4c0011;
  color: white;
  font-size: 14px;
  border-radius: 5px 0 0 5px;

}
.btn-sitepage-style-grid:hover{
  background-color: #4c0011;
  color: white;
}
.btn-sitepage-style-list{
  color: #000;
  padding: 16px 30px;
  font-size: 14px;
  background-color: white;
}
.btn-sitepage-style-list:hover{
  color: #4C0011;
  background-color: white;
}
.add-sitepage .btn-search{
  border-color: #d3d3d378;
  border-radius: 0;
  border: none;
  padding: 0px 20px 0 20px;
  color: #50505080;
  font-size: 20px;
  border-left: 1px solid #d3d3d378;
}
.add-sitepage .form-control:focus{
  border-color: #fff;
  box-shadow: none;
}
.add-sitepage input{
  border: none;
}
.sitepage-grid-style{
  box-shadow: 2px 3px 6px #00000036;
  border: 1px solid #d3d3d378;
  margin: 25px 0;
  border-radius: 5px;
}
.site-page-post{
  box-shadow: 2px 3px 6px #00000036;
  border: 1px solid #d3d3d378;
  margin: 25px 0 10px 0;
  border-radius: 5px;
  position: relative;

}
.sitepage-showdefultpage{
  font-size: 14px;
}
.site-page-post .add-image{
  background-color: #000000e0;
  color: #4c4b4b;
  width: 30%;
  height: 120px;
  border-radius: 4px 0 0 4px;
  display: flex;
}
.site-page-post .add-image i{
  font-size: 25px;
  text-align: center;
  margin: auto;
}
.site-page-post .course-name{
  padding: 5px 11px;
}
.site-page-post .course-name i{
  padding: 5px 5px 0 0px;
  font-size: 18px;
}
.site-page-post .course-name h3{
  color: #4C0011;
  font-size: 20px;
  font: 600;
}
.btn-course-page{
  background-color: #4C0011;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin: 5px 0;
  padding: 2px 6px;
}
.btn-course-page:hover{
  background-color: #4C0011;
  color: #fff;
}
.site-page-post .edit-post{
  padding: 5px 10px;
}
.site-page-post .edit-post .post-view{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.site-page-post .edit-post .post-view .btn:hover{
  background-color: #4C0011;
  color: #fff;
}
.site-page-post .edit-post .post-view .btn{
  background-color: #fff;
  color: #000;
  border: 1px solid black;
}
/* theme library */
.nav-theme-library{
  padding: 20px 0
}
.theme-library{
  margin: 25px 0;
  border-radius: 5px;
}
.theme-library .btn-themelibrary-theme{
  background-color: #4C0011;
  color: #fff;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 30px
}
.theme-library .btn-themelibrary-extheme{
  background-color: #6D6D6D;
  color: #fff;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 30px
}
.theme-library .themelibrary-edit{
  color: #4C0011;
  float: right;
  padding: 0px 11px;
  font-size: 18px;
}
.theme-library hr{
  margin: 0;
}