.text-color{
    color: #681C20;
    justify-content: center;
}
.text-color .text-center img{
    margin: 20px auto;
    width: 150px;
}
.mahza-login{
    box-shadow: 1px 2px 11px #00000052;
    border-radius: 12px;
    padding: 0 60px;
    margin: 0 0 145px 0px;
}
.mahza-login .heading{
    padding: 50px 25px 5px 25px;
}
.mahza-login p{
    text-align: right;
    margin-top: -24px!important;
    color: black;
}
.mahza-login a{
    color: #681C20;
    font-weight: 700;
}
.mahza-login h1{
    font-size: 24px;
    font-weight: 700;
    display: inline;
}
.mahza-login form label{
    margin-bottom: 0;
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.mahza-login form .password-set{
    position: relative;
}
.mahza-login form #password{
    width: 90%;
    display: inline;
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.mahza-login form .password-set #hide_eye{
    border: 1px solid lightgray;
    border-left: none;
    position: absolute;
    border-radius: 0 5px 5px 0;
    padding: 10px 11px 10px 15px;
    color: #681C20;
}
.mahza-login form .password-set #show_eye {
    border: 1px solid lightgray;
    border-left: none;
    position: absolute;
    border-radius: 0 5px 5px 0;
    padding: 10px 11px 10px 17px;
    display: none;
    color: #681C20;
}
.mahza-login form .password-set1{
    position: relative;
}
.mahza-login form #cpassword{
    width: 90%;
    display: inline;
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.mahza-login form .password-set1 #hide_eye1{
    border: 1px solid lightgray;
    border-left: none;
    position: absolute;
    border-radius: 0 5px 5px 0;
    padding: 10px 11px 10px 15px;
    color: #681C20;
}
.mahza-login form .password-set1 #show_eye1{
    border: 1px solid lightgray;
    border-left: none;
    position: absolute;
    border-radius: 0 5px 5px 0;
    padding: 10px 11px 10px 17px;
    display: none;
    color: #681C20;
}
.mahza-login form .form-check input{
    border-color: #681C20;
}
.mahza-login form .form-check label{
    color: #681C20;
    font-size: 14px;
}
.mahza-login form button{
    background-color:  #681C20;
    color: white;
    margin: 20px 0px;
    padding: 15px 0;
    width: 55%;
}
.mahza-login form button:hover{
    color: white;
    box-shadow: 0px 4px 7px #681c207a;
}
.mahza-login form button i{
    padding: 0 10px;
    font-size: 15px;
}
@media (max-width: 1200px) {
    .mahza-login form #password {
        width: 88%;
    }
    .mahza-login form #cpassword {
        width: 88%;
    }
}
@media (max-width: 1200px) {
    .mahza-login {
        padding: 0 40px;
    }
}
@media (max-width: 500px) {
    .mahza-login form #password {
        width: 87%;
    }
    .mahza-login form #cpassword {
        width: 87%;
    }
    .mahza-login h1 {
        display: inherit;
    }
    .mahza-login p {
        text-align: left;
        margin-top: -7px!important;
    }
}
@media (max-width: 440px) {
    .mahza-login form #password {
        width: 84%;
    }
    .mahza-login form #cpassword {
        width: 84%;
    }
    .mahza-login form button {
        width: 90%;
    }
}
@media (max-width: 340px) {
    .mahza-login form #password {
        width: 75%;
    }
    .mahza-login form #cpassword {
        width: 75%;
    }
}